.app-footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px; 
  background-color: #ffffff;
  border-top: 5px solid rgb(236, 113, 26);
  box-sizing: border-box;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.copyright {
  font-size: 0.875rem;
  color: #000000;
}